<h2 class="pt-2 text-center">My Lists</h2>
<div class="d-flex justify-content-between">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="card pt-4 d-flex align-items-center" style="width: 18rem;">

        <% if list.photo.attached? %>
          <%= cl_image_tag list.photo.key, width: 128, crop: :fill %>
        <% else %>
          <%= image_tag list.movies.try(:first).try(:poster_url), width: "128" unless list.movies.size == 0 %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title text-center"><%= link_to list.name, list_path(list) %></h5>
          <%= link_to "Visitar lista", list_path(list), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>